#content 
{
	position:absolute;
	width:80%;
	left:10%;
	right:10%;
	text-align:left;
        background-color:#ff8080;
}

#navbar 
{
	position:absolute;
	width:100%;
	height:45px;
	top:0px;
        background-color: #ff8080;
}

#banner 
{
	position:absolute;
	width:100%;
	height:80px;
	text-align:center;
	padding-top:10px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	top:50px;
        background-color: #ff8080;
}

#desc 
{
	position:absolute;
	padding-left:2%;
	padding-right:2%;
	padding-top:0px;
	width:96%;
	margin-top:0px;
	top:140px;
}

img.sbu_navbar
{
	float:right;
}

img.photo_floating_right
{
	float:right;
	padding-left:20px;
}

img.photo_floating_left
{
	float:left;
	padding-right:20px;
}

p.footer
{
	font-size:8pt;
	text-align:center;
	padding-top:00px;
}

img {
	border:0;
}

img.stonybrook {
	background-color:#ff8080;
	padding-left:10px;
	float:left;
}

img.cs {
	float:right;
	padding-right:10px;
}

img.start_up
{
	float:right;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:5px;
}

img.centered {
	margin-left:30%;
	margin-right:30%;
}


a.nav, a.open_nav {
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left:5px;
	padding-right:20px;
	padding-top:5px;
	width:80px;
}

p.contact_info
{
	padding-top:0px;
	margin-top:0px;
	margin-bottom:0px;
}

td.course_name
{
	padding-left:10px;
	padding-right:10px;
}

img.logo_page
{
	position:relative;
	width:100%;
	height:auto;
}

table 
{
	border-color:#555555;
}

table.schedule
{
	margin:auto;
	width:100%;
}

td.sch
{
	position:relative;
	width:20%;
	height:150px;
	margin-left:0%;
	margin-right:0%;
	vertical-align:top;
}

th.sch
{
	vertical-align:top;
	text-align:center;
	border-color:#ff8080;
}

td.holiday 
{
	background-color:#ff8080;
	vertical-align:top;
}
