@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url(https://fonts.googleapis.com/css?family=Cedarville+Cursive);

body {
	background-color: #ff9999;
	font-family: cedarville-cursive,cursive, sans-serif;
}

td.course_num
{
	font-family:monospace;
}

p,li,td,th {
	font-size:13pt;
}

h1,h2,h3,h4,h5,h6 {
	color:#003399
}

#navbar {
	background-color: #ff9999;
	margin-top:5px;
}

#banner {
	font-size:18pt;
	color:#ffffff;
	background-color: #ff9999;
}

#desc {
	background-color: #ff9999;
	color:#000000;
}

a.nav {
	color:#ffffff;
	font-size:12pt;
	font-weight:normal;
}

a.open_nav {
	color:#ffffff;
	font-size:18pt;
	font-weight:bold;
}

hr {
	color:#111155;
}

a.open_nav:hover {

}

a.nav:hover{
	color:rgb(118,143,165);
}

a:hover {
	color:rgb(118,143,165);
}

a {
	text-decoration:none;
	color:#006633;
	font-weight:bold;
}

span {
	color:#8888ff;
	font-weight:bold;
}

span.reading {
	color:#990099;
	font-weight:normal;
}

span.tutorial {
	color:#990099;
	font-weight:normal;
}

span.hw {
	color:#990000;
	font-weight:normal;
}

span.grading {
	color:#771177;
	font-weight:bold;
}

td.highlight {
	background-color: #ff9999;
}

table.hws {
	border: 2px solid black;
	border-collapse:collapse;
}

th.hws {
	padding-right: 80px;
}

td.hws {
	padding-right:80px;
}

   .office_hours_schedule td
   {
	height:50px;
	text-align:center;
	font-weight:bold;
	background-color: #ff9999;
   }
   td.time
   {
	background-color: #ff9999;
	color:black;
   }
   td.open
   {
	background-color:rgb(220,100,100);
   }
   td.lecture
   {
	background-color: #ff9999;
   }
   td.tas
   {
	width:260px;
   }
   .office_hours_schedule th
   {
	background-color: #ff9999;
   }
   .email
   {
	font-size:11pt;
	color:black;
	font-weight:normal;
   }